.historyCard {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

.cardHistory {
    width: 359px;
    border-radius: 12px;
    border: 2px solid var(--text-color3);
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    position: relative;
}

.date {
    font-family: Raleway;
    font-weight: 700;
    font-size: 68px;
}

.historyCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
}

.text {
    font-family: Outfit;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--text-color5);
}

.borderDiv {
    position: absolute;
    top: 50%;
    left: 0;
    height: 8px;
    width: 84px;
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}

.border,
.border2 {
    width: 84px;
    border: 2px solid black;
    outline: 6px solid var(--bg5-color);
    display: flex;
    align-items: center;
    justify-content: start;
}

.border2 {
    position: absolute;
    left: -84px;
    top: 50%;
    height: calc(100% + 100px);
    width: 0px;
    border: 2px solid black;
    outline: 6px solid var(--bg5-color);
    display: flex;
    align-items: center;
    justify-content: start;
}

.circle1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.circle2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

@media (max-width:1440px) {
    .historyCard {
        gap: 40px;
    }
    .cardHistory {
        width: 259px;
        padding-top: 24px;
        padding-right: 34px;
        padding-bottom: 24px;
        padding-left: 34px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;
    }
    .date {
        font-size: 48px;
    }
    .cardContent {
        gap: 16px;
    }
    .title {
        font-size: 24px;
    }
    .text {
        font-size: 16px;
    }
    .border {
        width: 73px;
    }
    .border2 {
        height: calc(100% + 80px);
    }
}

@media (max-width:992px) {
    .historyCard {
        gap: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cardHistory {
        width: 100%;
        padding-top: 20px;
        padding-right: 24px;
        padding-bottom: 20px;
        padding-left: 24px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;
    }
    .date {
        font-size: 38px;
    }
    .cardContent {
        gap: 12px;
    }
    .title {
        font-size: 22px;
    }
    .borderDiv {
        height: 8px;
        width: 65px;
    }
    .border {
        width: 65px;
    }
    .border2 {
        left: -65px;
        top: 50px;
        height: calc(100% + 50px);
        width: 0px;
        border: 2px solid black;
        outline: 6px solid var(--bg5-color);
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

@media (max-width:389px) {
    .cardHistory {
        width: 100%;
        padding-top: 20px;
        padding-right: 14px;
        padding-bottom: 20px;
        padding-left: 14px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;
    }
}