.card {
    width: 48.1203%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color3);
    border-radius: 12px;
    padding: 60px;
    gap: 60px;
    background-color: white;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
}

.topDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--text-color7);
}

.image {
    height: 80px;
}

.text {
    font-family: Outfit;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--text-color5);
}

@media (max-width:1440px) {
    .card {
        width: 48.4375%;
        box-shadow: 4px 4px 0px 2px #1E1E1E;
        padding: 50px;
        border-radius: 10px;
        gap: 50px;
    }
    .title {
        font-size: 38px;
    }
    .image {
        height: 60px;
    }
    .text {
        font-size: 16px;
    }
}

@media (max-width:992px) {
    .card {
        width: 100%;
        padding: 40px;
        gap: 40px;
        box-shadow: 4px 4px 0px 1px #1E1E1E;
    }
    .title {
        font-size: 30px;
    }
    .image {
        height: 50px;
    }
    .text {
        font-size: 16px;
    }
}