.galleryItemCard {
    max-width: 22.9946%;
    max-height: 304px;
    border-radius: 12px;
    border-width: 2px;
    border-radius: 12px;
    border: 2px solid var(--text-color3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryItemCardImg {
    max-height: 100%;
    object-fit: cover;
}

@media (max-width:1440px) {
    .galleryItemCard {
        max-width: 22.5%;
        height: 234px;
        border-radius: 10px;
    }
}

@media (max-width:992px) {
    .galleryItemCard {
        max-width: 100%;
        margin: 0 auto;
        height: 203px;
    }
    .galleryItemCardImg {
        width: 100%;
    }
}

@media (max-width:450px) {
    .galleryItemCard {
        max-width: 100%;
    }
    .galleryItemCardImg {
        height: 100%;
    }
}